@model IEnumerable<Projeto1_IF.Models.TbProfissional>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Profissionais</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">
        <i class="bi bi-plus-lg"></i> Cadastrar Profissional
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CrmCrn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logradouro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ddd1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ddd2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCidadeNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdContratoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CrmCrn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Logradouro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ddd1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ddd2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCidadeNavigation.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdContratoNavigation.IdPlanoNavigation.Nome)
            </td>
            <td>
                <div class="d-flex gap-2">
                    <a asp-action="Edit" asp-route-id="@item.IdProfissional" class="btn btn-primary btn-sm" title="Editar">
                        <i class="bi bi-pencil-square me-1"></i> Editar
                    </a>

                    <a asp-action="Details" asp-route-id="@item.IdProfissional" class="btn btn-warning btn-sm text-dark" title="Detalhes">
                        <i class="bi bi-eye me-1"></i> Detalhes
                    </a>

                    <a asp-action="Delete" asp-route-id="@item.IdProfissional" class="btn btn-danger btn-sm" title="Excluir">
                        <i class="bi bi-trash me-1"></i> Excluir
                    </a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
